*, 
*:before,
*:after {
    margin: 0;
    padding: 0;
}

body {
    background-color: beige;
}

header {
    box-sizing: border-box;
    background-color: royalblue;
    border-radius: 20px;
    padding: 0.50rem;
    margin: 0.75rem;
    box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 0.1);
}

h1 {
    font-family:  "Segoe UI", Arial, sans-serif;
    color: #aec9dc;
    text-align: center;
    font-size: 50px;
}


.profilpicture {
    display: block;
    margin:auto;
    border-radius: 150px;
    width: 130px;
    height: 130px;
}

.personalinfo {
    font-family: "Segoe UI", Arial, sans-serif;
    color: rgb(204, 203, 203);
    text-align: justify;
    font-size: 18px;
    letter-spacing: .10em;
    margin: 0.50rem
}

.personalstartinfo {
    font-family: "Segoe UI", Arial, sans-serif;
    color: rgb(204, 203, 203);
    text-align: center;
    font-size: 18px;
    letter-spacing: .10em;
    padding: 0.50rem;
}


.menu, .first-menu {
    font-family: "Segoe UI", Arial, sans-serif;
    position: relative;
    display: block;
    margin: auto;
    padding: 1rem;
    color: #aec9dc;
    letter-spacing: .15em;
    line-height: 35px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.skill{
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
    list-style-type: none;
}

.education, .experience {
    position: relative;
    display: block;
    text-align: left;
}

.list {
    font-family: 'Segoe UI', Arial, sans-serif;
    position: relative;
    color: rgb(60, 57, 57);
    letter-spacing: .10em;
    line-height: 40px;
    font-size: 20px;
    list-style-position: inside;
    font-weight: 250;
}

.strategies {
    font-family: 'Segoe UI', Arial, sans-serif;
    position: relative;
    color: rgb(204, 203, 203);
    text-align: center;
    font-size: 20px;
    letter-spacing: .10em;
    line-height: 40px;
    font-size: 20px;
    list-style-position: inside;
}


.link-contact {

    position: relative;
    letter-spacing: .15em;
    line-height: 74px;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    font-family: 'Segoe UI',Arial,sans-serif;
    font-size: 17px;
    list-style-type: none;
}

#resume {
    box-sizing: border-box;
    border-radius: 20px;
    padding: 0.50rem;
    margin: 0.75rem;
    box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 0.1);
}

#other {
    background-color: royalblue;
    border-radius: 20px;
    padding: 0.50rem;
    margin: 0.75rem;
    box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 0.1);
}

#other-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.50rem;
    margin: 0.75rem;
    box-shadow: 0 0.50rem 1rem rgb(0 0 0 / 0.2);
}

#contact {
    box-sizing: border-box;
    border-radius: 20px;
    padding: 0.50rem;
    margin: 0.75rem;
    box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 0.1);
}
